@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Noto+Sans+HK:wght@400;700&family=Oi&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Ultra&display=swap");

body {
  /* font-family: "Noto Sans", sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7; */
  background-image: url(.//assets/Images/background_BB.jpg);
}

:root {
  --color-bg: rgb(122, 170, 248);
  --color-bg-variant: #2c2c6c;
  --color-primary: #daeefd;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.06);

  --conatiner-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

/* >>>>>>>>>>>>> MEDIA (medium screen) QUERIES <<<<<<<<<<<<<<< */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* >>>>>>>>>>>>> MEDIA (small screen) QUERIES <<<<<<<<<<<<<<< */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
